body{
    color: rgb(0, 255, 8);
    background-color: violet;
    font-family: Impact;
}

nav{
    display: flex;

    justify-content: space-between;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
}

img{
    max-width: 100%;
    height: auto;

}

.container{
    max-width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}