body {
    max-width: 65ch;
    margin: auto;
    font-family:sans-serif;
    background-color: rgb(35, 252, 27);
}
header {
    text-align: center;
    font-family: serif;
    background-color: rgb(158, 55, 255);
}   

p {
    background-color: aqua;
    font-family: monospace;
}